<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Covid 19 awareness</title>
    <link rel="stylesheet" href="/css/styles.css">
    <style>
	.button {
  	  border: none;
	  color: white;
	  padding: 16px 32px;
	  text-align: center;
	  text-decoration: none;
	  display: inline-block;
	  font-size: 16px;
	  margin: 4px 2px;
	  transition-duration: 0.4s;
	  cursor: pointer;
	  background-color: white;
	  color: black;
	  border: 2px solid #4CAF50;
	}
	div {
  		background-image: url('image.png');
	}

</style>
</head>
<body>
	<h1>About</h1>
	<p>In the context of a global pandemic, updating knowledge and daily information on the situation of Covid-19 and how to prevent it is extremely urgent. However, the knowledge related to Covid-19 and its variants hasn’t reached many people in the community.

This Project focuses on the basic knowledge related to the global pandemic ( Symptom of Covid-19, the precautions for Covid-19 or Coronavirus Cases statistic in the area they are living). This Project is expected to update real-time information and data for the community to help them prepare the best plans through Questionnaires and  Knowledge Graphs</p>
</body>