<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Covid 19 awareness</title>
    <link rel="stylesheet" href="/css/styles.css">
    <style>
    .header_special {
	  color: #fff;
	  background-color: #10555A;
	  margin-bottom: 10px;
	}
	.button {
  	  border: none;
	  color: white;
	  padding: 16px 32px;
	  text-align: center;
	  text-decoration: none;
	  display: inline-block;
	  font-size: 16px;
	  margin: 4px 2px;
	  transition-duration: 0.4s;
	  cursor: pointer;
	  background-color: white;
	  color: black;
	  border: 2px solid #4CAF50;
	}
	.alignRight {
    	text-align: right;
	}
	label:after {
   content: "Choose your location:";
   color: black;
	}

</style>
</head>
<body>
	<div style="background-image: url('image.png');">

	    <header class="header_special">
	    	<div>
				<h1>About</h1>
			</div>
		</header>
		<div>
			<div class="statistic">
        		<a href="/">&larr;- Back</a>
        	<div>
			<table style="width:1300px" border="0">
            <tr>
            	<td style="text-align:center;">
				<p>
					In the context of a global pandemic, updating knowledge and daily information on the situation of Covid-19 and how to prevent it is extremely urgent. However, the knowledge related to Covid-19 and its variants hasn’t reached many people in the community.</p><br>
				<p>
					This Project focuses on the basic knowledge related to the global pandemic ( Symptom of Covid-19, the precautions for Covid-19 or Coronavirus Cases statistic in the area they are living). This Project is expected to update real-time information and data for the community to help them prepare the best plans through Questionnaires and  Knowledge Graphs</p>
				</td>
				<td>
					<img src="/img/myself.jpg" alt="" border=3 height=200 width=200>
					<hr style="width:50%; border-color:  #957DAD; border-width: 2px;">
					<p>My name: Ho Mai Kim Chi(Ena Ho)</p>
					<p> My phone number: (306)526 xxxx</p>
					<p> My email: chimaikim.5495@gmail.com</p>
				</td>
			</tr>
		</table>
		<h2 style="text-align:center;"> Thank you so much</h2>

		</div>
</body>
</html>