<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Covid 19 awareness</title>
    <link rel="stylesheet" href="/css/styles.css">
    <style>
	.button {
  	  border: none;
	  color: white;
	  padding: 16px 32px;
	  text-align: center;
	  text-decoration: none;
	  display: inline-block;
	  font-size: 16px;
	  margin: 4px 2px;
	  transition-duration: 0.4s;
	  cursor: pointer;
	  background-color: white;
	  color: black;
	  border: 2px solid #4CAF50;
	}
	div {
  		background-image: url('image.png');
	}
	label:after {
   content: "Choose your location:";
   color: white;
	}

</style>
</head>
<body background="/img/image.jpg">
	<div style="background-image: url('image.png');">
	    <header class="header">
	    	<a href='/article' class="button">Covid 19 News</a>
	    	<a href='/quizzes' class="button">Quizz Game</a>
	    	<a href='/statistic' class="button">Statistic</a>
	    	<a href='/about' class="button">About</a>
	    </header>

	    <section id="wizard-p-12" role="tabpanel" aria-labelledby="wizard-h-12" aria-hidden="false">
	    	<label for="location"> </label>
	    	<select >
	    		<option>Saskatchewan</option>
	    		<option>Alberta</option>
	    		<option>Manitoba</option>
	    		<option>Quebec</option>
	    		<option>New Brunwick</option>
	    		<option>Yukon</option>
			</select>
	    </section>
	</div>
</body>